<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rojela - Ropa Íntima y Perfumería</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/shoppingmode_FILL0_wght400_GRAD0_opsz24.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>

<!-- Botón Flotante -->

        <div class="floating-container">
            <div class="floating-button">+</div>
            <div class="element-container">
                <span class="float-element">
                    <a class="floaty" href="https://instagram.com/rojela.vla?igshid=NGVhN2U2NjQ0Yg=="><iconify-icon class="big-icon1" icon="il:instagram">Instagram</iconify-icon></a>
                </span>
                <span class="float-element">
                    <a class="floaty" href="https://api.whatsapp.com/send/?phone=5492944244420&text&type=phone_number&app_absent=0"><iconify-icon class="big-icon" icon="mdi:whatsapp">Whatsapp</iconify-icon></a>
                </span>
            </div>
        </div>

<!-- Header -->

        <header>
            <div>
                <img src="../img/rojela-removebg-preview.png" class="Rojela2" alt="Logo Rojela 2">
                <img src="../img/Rojela-3-11-2023.png" class="logo" alt="Logo Rojela">
                <p>Lencería - Ropa Íntima - Perfumería</p>
            </div>
        </header>

<!-- Nav bar -->

        <nav class="navbar">
            <a href="../../index.html">INICIO</a>
            <a href="muestrario.html">PERFUMES</a>
            <a class="selectedpage">LENCERÍA</a>
            <a href="muestrario2.html">ROPA INTERIOR</a>
            <a href="registerform.html">CONTACTANOS</a>
        </nav>

<!-- Artículos -->

        <section class="sec">
            <div class="cards">
                <div class="product">
                    <img src="../img/products/Ropa interior/42da362c-4ef8-4bff-a977-ad02a3ea88db.jpg" alt="Perfume Invictus">
                    <div class="product-text">
                        <h3>Bombacha de Tela</h3>
                        <h4 class="description1">Ya sea para uso diario o para ocasiones especiales, esta bombacha de tela es la elección perfecta.</h4>
                    </div>
                    <article class="price">
                        <h4>$$$</h4>
                    </article>
                    <a href="registerform.html"><button class="consulta">
                        Consultar
                    </button></a>
                    <hr>
                </div>
                <div class="product">
                    <img src="../img/products/Ropa interior/WhatsApp Image 2023-11-03 at 16.57.58.jpeg" alt="Perfume 212">
                    <article class="product-text">
                        <h3>Colaless de Tela</h3>
                        <h4 class="description1">El diseño elegante y el ajuste perfecto realzan tus curvas de manera sutil, proporcionando tanto confort como estilo.</h4>
                    </article>
                    <article class="price">
                        <h4>$$$</h4>
                    </article>
                    <a href="registerform.html"><button class="consulta">
                        Consultar
                    </button></a>
                    <hr>
                </div>
                <div class="product">
                    <img src="../img/products/Ropa interior/WhatsApp Image 2023-11-03 at 16.58.27.jpeg" alt="Perfume 'La Vida es Bella'">
                    <article class="product-text">
                        <h3>Bombacha de mujer</h3>
                        <h4 class="description1">Descubre la combinación de suavidad y elegancia que brinda esta prenda, agregando un toque distintivo a tu colección de ropa interior.</h4>
                    </article>
                    <article class="price">
                        <h4>$$$</h4>
                    </article>
                    <a href="registerform.html"><button class="consulta">
                        Consultar
                    </button></a>
                    <hr>
                </div>
                <div class="product">
                    <img src="../img/products/Ropa interior/WhatsApp Image 2023-11-03 at 17.12.01.jpeg" alt="Perfume 'Fame' by Paco Rabanne">
                    <article class="product-text">
                        <h3>Bombachas - Nuevo ingreso</h3>
                        <h4 class="description1">Dale a tu colección de ropa interior un toque fresco y sofisticado con nuestras nuevas bombachas, perfectas para cualquier ocasión.</h4>
                    </article>
                    <article class="price">
                        <h4>$$$</h4>
                    </article>
                    <a href="registerform.html"><button class="consulta">
                        Consultar
                    </button></a>
                    <hr>
                </div>
                <div class="product">
                    <img src="../img/products/Ropa interior/WhatsApp Image 2023-11-03 at 17.12.33.jpeg" alt="Perfume 'Fame' by Paco Rabanne">
                    <article class="product-text">
                        <h3>Colaless INXS</h3>
                        <h4 class="description1">Diseñados para resaltar tu feminidad, estos colaless están confeccionados con telas suaves y detalles encantadores.</h4>
                    </article>
                    <article class="price">
                        <h4>$$$</h4>
                    </article>
                    <a href="registerform.html"><button class="consulta">
                        Consultar
                    </button></a>
                    <hr>
                </div>
            </div>
        </section>
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    </body>
</html>