<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Contacto - Rojela - Ropa Íntima y Perfumería</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
            <link rel="icon" href="../img/contact_page_FILL0_wght400_GRAD0_opsz24.png">
            <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

<!-- Header -->
            
            <header>
                <div>
                    <img src="../img/rojela-removebg-preview.png" class="Rojela2" alt="Logo Rojela 2">
                    <img src="../img/Rojela-3-11-2023.png" class="logo" alt="Logo Rojela">
                    <p>Lencería - Ropa Íntima - Perfumería</p>
                </div>
            </header>

<!-- Nav bar -->

            <nav class="navbar">
                <a href="../../index.html">INICIO</a>
                <a href="muestrario.html">PERFUMES</a>
                <a href="muestrario1.html">LENCERÍA</a>
                <a href="muestrario2.html">ROPA INTERIOR</a>
            </nav>

<!-- Formulario -->            

            <form name="submit-to-google-sheet" class="submit-to-google-sheet">
                <fieldset>
                <legend>
                    Formulario
                </legend>
                <label for="Producto">Producto</label>
                <select name="Producto" id="Producto"></select>
                <label for="Talle">Talle</label>
                <select name="Talle" id="Talle"></select>
                <label for="name">Nombre</label>
                <input type="text" name="" id="Name">
                <label for="lname">Apellido</label>
                <input type="text" name="Surname" id="Surname">
                <label for="email">Email</label>
                <input type="text" name="Email" id="Email">
                <label for="mensaje">Mensaje</Label>
                <textarea name="msg" id="mensaje" cols="30" rows="4"></textarea>
                <button type="submit" value="Confirmar Pedido">Confirmar pedido</button>
                </fieldset>
            </form>
            <script src="../js/public.js"></script>
    </body>
</html>